/* Universal styling */
* {
    margin: 0;
    padding: 0;
}

/*--------------------------------------- 
------------ Header objects -----------*/
header {
    justify-content: space-between;
    height: 2rem;
    border: 1px solid fuchsia;
    /* background-color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    display: flex;
}

.headText {
    margin: auto;
    width: 82%;
    color: black;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin: auto;
}

.acceptButton {
    width: 80px;
    height: 26px;
    border: 1px solid #0e91e8;
    /* background-color: #ffffff; */
    transition-duration: .2s;
    /* border: none; */
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    transition: all .6s ease;
}

.declineButton {
    width: 80px;
    height: 26px;
    border: 1px solid #e73922;
    /* background-color: #ffffff; */
    transition-duration: .2s;
    color: rgb(0, 0, 0);
    /* border: none; */
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    transition: all .6s ease;
}

.acceptButton:hover {
    /* color: #ffffff;date */
    /* background-color: #0e91e8; */
    transition-duration: .2s;
}

.declineButton:hover {
    /* color: #ffffff; */
    /* background-color: #e73922; */
    transition-duration: .2s;
}

/*----------------------------------------- 
------------ Nav styling ----------------*/
nav {
    /* background-color: rgb(27, 29, 24); */
    border: 1px solid darkorange;
    display: flex;
    justify-content: space-between;
}

.logo {
    border: 1px solid darkcyan;
    color: #000000;
    font-size: 3rem;
    font-family: fantasy;
    margin: auto;
    text-align: left;
}

.navbar {
    margin: auto;
    border: 1px solid pink;
}

nav ul {
    border: 1px solid #1b3d54;
    list-style: none;
    padding: 0;
}

nav li {
    border: 1px solid #5b6521;
    display: inline-block;
    padding: 5px 26px;
}

nav a {
    border: 1px solid #e82765;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.right {
    border: 1px solid #24b817;
    position: relative;
    left: 3.5rem;
    width: 25%;
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin: auto;
}

.button1 {
    width: 6em;
    padding: 7px;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 2px solid rgb(226, 5, 5);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

/* .button1:hover {
    /* color: #ffffff; */
    /* background-color: #ff0000; */
    /* border: 2px solid white;
} */

.search {
    width: 12em;
    padding: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 2px solid rgb(89, 84, 84);
    border-radius: 15px;
}

.search-icon {
    border: 2px solid #0e91e8;
    position: absolute;
    right: 9rem;
    /* Adjust as needed for spacing */
    top: 50%;
    transform: translateY(-50%);
    /* color: rgb(0, 176, 192); */
    /* Change color as needed */
}

.home {
    /* background-image: url("https://img.freepik.com/premium-photo/black-stone-sand-texture-display-mock-up_386188-1514.jpg?semt=ais_hybrid"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 2px solid #e8700e;

}

.heading {
    border: 2px solid rgb(14, 232, 28);
    /* background-image: url("https://www.akamai.com/site/im-demo/perceptual-standard.jpg?imbypass=true"); */
    color: #ffffff;
    background-position: center;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    /* -webkit-background-clip: text; */
    -webkit-font-smoothing: antialiased;

}

#head1 {
    border: 1px solid #0e91e8;
    padding: 5.1rem 0 0;
    text-align: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}

#head2 {
    border: 1px solid #0e91e8;
    /* padding: 10px 0 1px 0; */
    text-align: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}

#head3 {
    border: 1px solid #0e91e8;
    /* padding: 0; */
    text-align: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}

/* New styles for registration button */
.register-button {
    margin: 3rem 0 3rem;
    /* background-color: #fd0606; */
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    transition: all 0.3s ease-in-out;
    /* background-color: dodgerblue; */

}

.services {
    padding: 12px 0 12px;
    border: 2px solid red;
}

.row {
    border: 2px solid yellow;
    display: flex;
    justify-content: space-around;
}

.box {
    border: 2px solid blue;
    margin: 12px;
    padding: 12px;
    height: 200px;
    width: 250px;
    text-align: center;
}