/* responsive styling */
/*****************/

@media(max-width: 900px) {
    .logo img {
        height: auto;
        width: 5rem;
    }

    .navlinks ul li a {
        font-size: 1rem;
        margin: 0 1.2rem 0 1.2rem;
    }

    section {
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }

    .content {
        height: 100vh;
        border-radius: none;
    }

    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content span {
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
    }

    .links li a {
        font-size: 14px;
    }

    .links {
        margin: 5px 0;
    }

    .links li {
        padding: 6px 10px;
    }

    .icons li i {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    /* .navbar {
        flex-direction: column;
        align-items: flex-start;
    } */

    .content h1 {
        font-size: 40px;
    }

    .content h2 {
        font-size: 30px;
    }

    .content p {
        font-size: 18px;
    }

    .feedback-box {
        width: 45%;
    }

    .about-section h2 {
        font-size: 30px;
    }

    .about-section p {
        font-size: 16px;
    }

    .reviews-container {
        justify-content: center;
    }

    .review-card {
        max-width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }



    .team-member {
        width: 45%;
    }

    .footer .footer-section {
        width: 100%;
        text-align: center;
    }

    .footer .newsletter input[type="email"] {
        width: 90%;
    }
}

@media(max-width: 700px) {
    .logo img {
        height: auto;
        width: 5rem;
    }

    .navlinks ul li a {
        font-size: 1rem;
        margin: 0 1.2rem 0 1.2rem;
    }

    .navlinks ul {
        margin: auto;
        /* giving some padding (space) for clearity  */
        padding: 1rem;
        display: none;
    }

    .button {
        margin: auto;
        height: 2.7rem;
        padding: 7px 16px;
        gap: 4px;
    }

    .button .text {
        font-size: .9rem;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar img {
        height: 40px;
    }

    .menu-icon {
        display: block;
    }

    .content {
        padding: 50px 10px;
    }

    .content h1 {
        font-size: 30px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 16px;
    }

    .feedback-box {
        width: 90%;
    }

    .about-section h2 {
        font-size: 25px;
    }

    .about-section p {
        font-size: 14px;
    }

    .team-member {
        width: 90%;
    }

    .footer .footer-section {
        width: 100%;
        text-align: center;
    }

    .footer .newsletter input[type="email"] {
        width: 90%;
    }
}