* {
    margin: 0;
    padding: 0;
}

.header {
    border: 2px solid red;
}

.nav {
    border: 2px solid red;
}

.navbar {
    display: flex;
    border: 2px solid red;
}

.navlinks {
    display: flex;
    border: 2px solid red;
}



.heropage {
    border: 2px solid red;
}

.container {
    border: 2px solid red;
}

.home {
    border: 2px solid red;
}

.tagline {
    border: 2px solid red;
}