* {
    margin: 0;
    padding: 0;
}

.header {
    padding: .4rem;
    border: 2px solid rgb(150, 94, 10);
}

.navbar {
    display: flex;
    border: 2px solid rgb(190, 218, 27);
}

.navlinks {
    margin: auto;
    justify-content: space-between;
}

.navlinks ul {
    display: flex;
    list-style: none;
    border: 2px solid rgb(44, 0, 57);
}

.navlinks ul li{
    border: 2px solid red;
}

.heropage {
    border: 2px solid red;
}

.container {
    border: 2px solid red;
}

.home {
    border: 2px solid red;
}

.tagline {
    border: 2px solid red;
}